@import url('https://fonts.googleapis.com/css2?family=Grandstander&display=swap');

body {
    background-color:  black;
}

.navbar {
    background-color: #be5a3275 !important;
    font-family: 'Grandstander', cursive;
    color: white;

}

.navbar-brand{
    font-size: 25px;
    font-weight: 600;
    color: white !important;
    padding-left: 10px;
}

.nav-link{
    color: white !important;
    padding-left: 50px !important;
}

.centralizar {
    margin: auto;
}

.navbar-foot{
    margin: 0 !important;
    padding: 0 !important;
}

#videoBG {
    position: fixed;
    z-index: -1;
    top:-6%; left: 0%;
}

@media (min-aspect-ratio: 16/9){
    #videoBG{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    #videoBG{
        width: auto;
        height: 100%;
    }
}
